# Ren'Py compiled files
*.rpyc
*.rpymc
*.rpa
*.rpyc.bak

# Save files and logs
*.save
*.log
/*.txt

# Cache and temp
game/cache/
game/saves/
tmp/

# Python cache
__pycache__/
*.pyc

# Engine files (don’t version Ren’Py itself)
renpy/
lib/
launcher/

# editor files/dirs
.vscode
